{% extends 'base.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/catalog.css' %}?v=1.0.1">
<link rel="stylesheet" href="{% static 'css/components/buttons.css' %}?v=1.0.1">
<link rel="stylesheet" href="{% static 'css/components/global.css' %}?v=1.0.1">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="alert alert-success">
        Has cerrado sesión exitosamente.
    </div>
    <p class="text-center">
        <a href="{% url 'anime:home' %}" class="btn btn-primary">Volver a la página principal</a>
    </p>
</div>
{% endblock %}